@page "/"
@using Models

<div>
    Group Size: <input placeholder="@groupSize" @onchange="@onChange" value="@groupSize" />
</div>

<div>
    @for (int i = 0; i < groupSize; i++)
    {
        Member member = members[i];
    <div>
        <button @onclick="() => member.IsGroupA = !member.IsGroupA" style="background-color: @(member.IsGroupA ? "White" : "Black"); color: @(member.IsGroupA ? "Black" : "White");">@(member.IsGroupA ? "Good" : "Bad")</button> 
        Member @(i + 1): @member.Name 
        @if (currentTeam == null || currentTeam.Leader != member)
        {
            <button @onclick="() => StartTeam(member)">Start Team</button> 
        }
        @if (currentTeam != null && !currentTeam.Teammates.Contains(member) && currentTeam.Leader != member)
        {
            <button @onclick="() => JoinTeam(member)">Join Team</button> 
        }
        @if (currentTeam != null && !currentTeam.Votes.Any(v => v.Key == member))
        {
            <button @onclick="() => Vote(member, true)">Vote In Favor</button> 
            <button @onclick="() => Vote(member, false)">Vote Against</button> 
        }
    </div>
    }
</div>

@foreach (var team in teams)
{
<div>
    <div style="border: 1px solid gray">
        <strong>@team.Leader.Name </strong> Tried to Create a Team With @string.Join(", ", team.Teammates.Select(m => m.Name)): 
        @if(team.Success == null) { <span>PENDING</span> }
        else { <span>@(team.Success.Value ? "Succeed" : "Failed")</span> }
    </div>
    <div>
        Voting: 
        @foreach (var vote in team.Votes.OrderBy(v => v.Key.ID))
        {
            <span>@vote.Key.Name: @vote.Value.InFavor</span>
        }
    </div>
</div>
}

@code {

    private int groupSize { get; set; } = 9;
    private Member[] members;
    private List<Team> teams = new List<Team>();

    protected override void OnInitialized()
    {
        updateMemberData();
    }

    private void onChange(ChangeEventArgs args)
    {
        groupSize = int.Parse((string)args.Value);

        updateMemberData();
    }

    private void updateMemberData()
    {
        members = new Member[groupSize];
        for (int i = 0; i < groupSize; i++)
        {
            members[i] = new Member();
            members[i].ID = i + 1;
            members[i].Name = $"Member {i + 1}";
            members[i].IsGroupA = true;
        }
    }

    private Team currentTeam = null;
    private void StartTeam(Member leader)
    {
        currentTeam = new Team();
        currentTeam.Leader = leader;
        teams.Add(currentTeam);
        currentTeam.Votes.Add(leader, new Vote(leader, true));
    }

    private void JoinTeam(Member member)
    {
        currentTeam.Teammates.Add(member);
        currentTeam.Votes.Add(member, new Vote(member, true));
    }

    private void Vote(Member member, bool inFavor)
    {
        currentTeam.Votes.Add(member, new Vote(member, inFavor));
    }
}